<html>
<head>
<title>Student Registration Form</title>

</head>
<style>
h3{
  font-family: Calibri;
  font-size: 25pt;
  font-style: normal;
  font-weight: bold;
  color:SlateBlue;
  text-align: center;
  text-decoration: underline
}

table{
  font-family: Calibri;
  color:white;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
  text-align:;
  background-color: SlateBlue;
  border-collapse: collapse;
  border: 2px solid navy
}
table.inner{
  border: 0px
}
</style>

<body>
<h3>STUDENT REGISTRATION FORM</h3>

<!--<form action="welcome/hi" method="post">---->

<table align="center" cellpadding = "10">
<form id="login-form" class="form" action="" method="post">
<!----- First Name ---------------------------------------------------------->
<tr>
<td>FIRST NAME</td>
<td><input type="text" name="First_Name" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>

<!----- Last Name ---------------------------------------------------------->
<tr>
<td>LAST NAME</td>
<td>
    <input type="text" name="Last_Name" maxlength="30"/>
(max 30 characters a-z and A-Z)
</td>
</tr>


<!----- Email Id ---------------------------------------------------------->
<tr>
<td>EMAIL ID</td>
<td><input type="text" name="Email_Id" maxlength="100" /></td>
</tr>

<!----- Password ---------------------------------------------------------->
<tr>
<td>Password</td>
<td><input type="password" name="Password" maxlength="30" />
(max 30 characters a-z and A-Z)
</td>
</tr>
<!----- Submit and Reset ------------------------------------------------->
<tr>
<td colspan="2" align="center">
<input type="submit" value="Submit">
<input type="reset" value="Reset">
</td>
</tr>
</table>
</form>
</body>
</html>

